/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --orange: hsl(35, 77%, 62%);
  --red: hsl(5, 85%, 63%);
  --white: hsl(36, 100%, 99%);
  --gray: hsl(233, 8%, 79%);
  --dark: hsl(236, 13%, 42%);
  --black: hsl(240, 100%, 5%);
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/static/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter Variable";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.container {
  margin: 2rem auto;
  width: 80%;
  display: grid;
  column-gap: 1.5rem;
  grid-template-areas:
    "header header  header"
    "divPic     divPic   aside"
    "main1    main2   aside"
    "news1 news2  news3";
  grid-template-columns: 0.8fr 0.8fr 0.8fr;
  grid-template-rows: auto auto auto auto;
}

.hamburguer-logo {
  display: none;
}

nav {
  display: flex;
  gap: 2rem;
}

@media (width < 768px) {
  .container {
    grid-template-areas:
      "header"
      "divPic"
      "main1"
      "main2"
      "aside"
      "news1"
      "news2"
      "news3";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  picture {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 2rem;
    grid-area: divPic;
  }
  .hamburguer-logo {
    all: unset;
    display: block;
    cursor: pointer;
  }

  nav {
    display: none;
  }
  .article button {
    margin-bottom: 3rem;
  }
}

.container header {
  display: flex;
  padding-block: 1.5rem;
  justify-content: space-between;
  grid-area: header;
  background-color: var(--white);
}

.container .front-picture {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  margin-bottom: 2rem;
  grid-area: divPic;
}

.front-picture img {
  max-width: 100%;
}

.title {
  padding-right: 4rem;
  font-size: 1.3rem;
  font-weight: 800;
  grid-area: main1;
}

.article {
  grid-area: main2;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article p {
  font-size: 0.7rem;
  text-justify: auto;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

.article button {
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  letter-spacing: 0.2rem;
  background-color: var(--red);
  border: none;
  max-width: 60%;
}

.article button:hover {
  color: var(--white);
  background-color: var(--black);
  cursor: pointer;
}

.container news-1 {
  padding-top: 2rem;
  display: flex;
  grid-area: news1;
}
.container news-2 {
  padding-top: 2rem;
  display: flex;
  grid-area: news2;
}
.container news-3 {
  padding-top: 2rem;
  display: flex;
  grid-area: news3;
}

.container aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: aside;
  color: var(--white);
  background-color: var(--black);
  padding: 1rem;
}

aside p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

aside > h1 {
  color: var(--orange);
  align-self: start;
  margin-bottom: 0.6rem;
}

aside a {
  color: white;
}

aside a:hover {
  color: var(--orange);
}

aside article h1 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--red);
}

.news {
  display: flex;
  width: 100%;
  align-items: stretch;
  max-height: 100px;
  margin-top: 3rem;
}

article > img {
  max-height: 100%;
  max-width: 100px;
  object-fit: cover;
}

.imgArticle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
}

.imgArticle h1 {
  color: var(--red);
}

.imgArticle h2 {
  font-size: 1rem;
}
.imgArticle p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
p {
  margin: 0;
}

.line {
  border: 0.01rem solid var(--white);
  width: 100%;
  margin-top: 2rem;
}

.line-2 {
  border-color: var(--gray);
}
